@charset "UTF-8";
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
body {
    line-height: 1
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
@font-face {
    font-family: 'Lato';
    src: url("../../../../fonts/lato/lato-regular.eot");
    src: url("../../../../fonts/lato/lato-regulard41d.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/lato/lato-regular.woff2") format("woff2"), url("../../../../fonts/lato/lato-regular.woff") format("woff"), url("../../../../fonts/lato/lato-regular.ttf") format("truetype"), url("../../../../fonts/lato/lato-regular.svg#latoregular") format("svg");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Lato';
    src: url("../../../../fonts/lato/lato-light.eot");
    src: url("../../../../fonts/lato/lato-lightd41d.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/lato/lato-light.woff2") format("woff2"), url("../../../../fonts/lato/lato-light.woff") format("woff"), url("../../../../fonts/lato/lato-light.ttf") format("truetype"), url("../../../../fonts/lato/lato-light.svg#latolight") format("svg");
    font-weight: 300;
    font-style: normal
}
@font-face {
    font-family: 'LatoLight';
    src: url("../../../../fonts/lato/lato-light.eot");
    src: url("../../../../fonts/lato/lato-lightd41d.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/lato/lato-light.woff2") format("woff2"), url("../../../../fonts/lato/lato-light.woff") format("woff"), url("../../../../fonts/lato/lato-light.ttf") format("truetype"), url("../../../../fonts/lato/lato-light.svg#latolight") format("svg");
    font-weight: 300;
    font-style: normal
}
@font-face {
    font-family: 'Lato';
    src: url("../../../../fonts/lato/lato-semibold.eot");
    src: url("../../../../fonts/lato/lato-semiboldd41d.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/lato/lato-semibold.woff2") format("woff2"), url("../../../../fonts/lato/lato-semibold.woff") format("woff"), url("../../../../fonts/lato/lato-semibold.ttf") format("truetype"), url("../../../../fonts/lato/lato-semibold.svg#latosemibold") format("svg");
    font-weight: 600;
    font-style: normal
}
@font-face {
    font-family: 'Lato';
    src: url("../../../../fonts/lato/lato-heavy.eot");
    src: url("../../../../fonts/lato/lato-heavyd41d.eot?#iefix") format("embedded-opentype"), url("../../../../fonts/lato/lato-heavy.woff2") format("woff2"), url("../../../../fonts/lato/lato-heavy.woff") format("woff"), url("../../../../fonts/lato/lato-heavy.ttf") format("truetype"), url("../../../../fonts/lato/lato-heavy.svg#latoheavy") format("svg");
    font-weight: 800;
    font-style: normal
}
@font-face {
    font-family: 'Font Awesome';
    src: url("../../../../font-awesome/font/fontawesome-webfont.eot");
    src: url("../../../../font-awesome/font/fontawesome-webfontd41d.eot?#iefix") format("embedded-opentype"), url("../../../../font-awesome/font/fontawesome-webfont.woff") format("woff"), url("../../../../font-awesome/font/fontawesome-webfont.ttf") format("truetype"), url("../../../../font-awesome/font/fontawesome-webfont.svg#fontawesomewebfont") format("svg");
    font-weight: 800;
    font-style: normal
}
.container:after,
.row:after,
.card-grid:after,
.logo-grid:after {
    content: "";
    display: table;
    clear: both
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 68.75em;
    position: relative
}
.row,
.card-grid,
.logo-grid {
    position: relative
}
@media (max-width: 47.975em) {
    .row,
    .card-grid,
    .logo-grid {
        margin: 0 -0.625em;
        width: 90%;
        margin: auto;
    }
    .hero .row {
        top: -590px;
    }
}
@media (min-width: 48em) {
    .row,
    .card-grid,
    .logo-grid {
        margin: 0 -0.9375em
    }
}
@media (min-width: 64em) {
    .row,
    .card-grid,
    .logo-grid {
        margin: 0 -1.25em
    }
}
@media (max-width: 47.975em) {
    .sm-hide {
        display: none
    }
}
@media (min-width: 48em) {
    .sm-hide {
        display: block
    }
}
@media (min-width: 64em) {
    .sm-hide {
        display: block
    }
}
@media (max-width: 47.975em) {
    .med-hide {
        display: none
    }
}
@media (min-width: 48em) {
    .med-hide {
        display: none
    }
}
@media (min-width: 64em) {
    .med-hide {
        display: block
    }
}
body {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    line-height: 1.4
}
::selection {
    color: #fff;
    background-color: #00c7d9
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #212c33;
    font-weight: 600
}
h1 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 0.333em
}
@media (min-width: 48em) {
    h1 {
        font-size: 1.875em
    }
}
@media (min-width: 64em) {
    h1 {
        font-size: 2.2em;
        margin-bottom: 0.4em
    }
}
h2 {
    font-size: 1.25em;
    line-height: 1.3;
    margin-bottom: 0.5em
}
@media (min-width: 48em) {
    h2 {
        font-size: 1.5em
    }
}
@media (min-width: 64em) {
    h2 {
        font-size: 1.875em
    }
}
h3 {
    font-size: 0.9em;
    line-height: 1.4;
    margin-bottom: 0.5em
}
@media (min-width: 48em) {
    h3 {
        font-size: 1.25em
    }
}
@media (min-width: 64em) {
    h3 {
        font-size: 1.3em
    }
}
h5 {
    font-size: 1em;
    margin-bottom: 0.75em
}
p,
blockquote,
li {
    color: #626973
}
p {
    font-size: 0.9375em;
    margin-bottom: 1em
}
@media (min-width: 48em) {
    p {
        font-size: 1.125em
    }
}
@media (min-width: 64em) {
    p {
        font-size: 1.25em
    }
}
p+h2 {
    margin-top: 1.125em
}
p.smaller {
    font-size: 1em
}
@media (max-width: 47.975em) {
    p.smaller {
        font-size: 0.9375em
    }
}
blockquote {
    font-size: 1em
}
blockquote:before {
    content: "‟"
}
blockquote:after {
    content: "”"
}
@media (max-width: 47.975em) {
    blockquote {
        font-size: 0.9375em
    }
}
.btn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    background-color: transparent;
    border: 2px solid;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
    padding: 0 15px;
    text-decoration: none
}
.btn.btn--white {
    color: #fff;
    border-color: #fff
}
.btn.btn--white:hover {
    color: #212c33;
    background-color: #fff
}
.btn.btn--blue {
    color: #00c7d9;
    border-color: #00c7d9
}
.btn.btn--blue:hover {
    color: #fff;
    background-color: #00c7d9
}
.app-store,
.google-play {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    display: inline-block;
    cursor: pointer;
    margin-top: 1em
}
.app-store:hover,
.google-play:hover {
/*    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1)*/
}
@media (max-width: 47.975em) {
    .app-store img,
    .google-play img {
        height: 40px;
        width: auto
    }
}
.app-store {
    margin-right: 5px
}
.google-play {
/*    padding-left: 1em*/
}
.play-btn {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s cubic-bezier(0.2, 0.9, 0.3, 1.3);
    -webkit-transition: all 0.2s cubic-bezier(0.2, 0.9, 0.3, 1.3);
    -moz-transition: all 0.2s cubic-bezier(0.2, 0.9, 0.3, 1.3);
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
    display: inline-block
}
.play-btn:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1)
}
@media (max-width: 47.975em) {
    .play-btn {
        width: 60px;
        height: auto
    }
}
.nav {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    position: fixed;
}
@media (max-width: 47.975em) {
    .nav {
        height: 60px;
    }
}
@media (min-width: 48em) {
    .nav {
        padding-top: 15px;
        padding-right: 1.875em;
        padding-bottom: 15px;
        padding-left: 1.875em;
        position: fixed;
    }
}
@media (min-width: 64em) {
    .nav {
        padding-top: 15px;
        padding-right: 2.5em;
        padding-bottom: 15px;
        padding-left: 2.5em;
        position: fixed;
    }
}
.nav-logo {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    position: absolute
}
@media (max-width: 47.975em) {
    .nav-logo {
        left: 20px;
        top: 10px
    }
}
@media (min-width: 48em) {
    .nav-logo {
        left: 0px
    }
}
.nav-logo:hover {
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6
}
.nav-logo-image {
    display: inline-block;
    text-decoration: none;
    background-image: url("../../../../images/flipp/coupons/flipp-logo-blue%402x.png");
    background-repeat: no-repeat;
    text-indent: -9999px
}
@media (max-width: 47.975em) {
    .nav-logo-image {
        height: 40px;
        width: 58px;
        background-size: 58px 40px
    }
}
@media (min-width: 48em) {
    .nav-logo-image {
        height: 50px;
        width: 72px;
        background-size: 72px 50px
    }
}
@media (max-width: 47.975em) {
    .nav-selector {
        background-image: url("../../../../images/flipp/coupons/icon-hamburger%402x.png");
        background-position: center;
        background-size: 24px 21px;
        background-repeat: no-repeat;
        display: block;
        height: 40px;
        position: absolute;
        right: 20px;
        top: 10px;
        width: 24px
    }
}
@media (min-width: 48em) {
    .nav-selector {
        display: none
    }
}
.nav-social-icons {
    display: none;
    font-family: 'Font Awesome';
    font-size: 1.25em
}
.nav-social-icons a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin-left: 1.25em;
    text-decoration: none
}
.nav-social-icons a.facebook {
    color: #3b5998
}
.nav-social-icons a.facebook:before {
    content: "\f09a"
}
.nav-social-icons a.facebook:hover {
    color: #212c33
}
.nav-social-icons a.twitter {
    color: #00aced
}
.nav-social-icons a.twitter:before {
    content: "\f099"
}
.nav-social-icons a.twitter:hover {
    color: #212c33
}
.nav-social-icons a.youtube {
    color: #b00
}
.nav-social-icons a.youtube:before {
    content: "\f16a"
}
.nav-social-icons a.youtube:hover {
    color: #212c33
}
@media (min-width: 64em) {
    .nav-social-icons {
        display: block;
        position: absolute;
        right: 0px;
        text-align: right
    }
}
.nav-menu-items {
    overflow: hidden
}
@media (max-width: 47.975em) {
    .nav-menu-items {
        background-color: rgba(255,255,255,0.95);
        display: none;
        position: absolute;
        width: 100%;
        top: 60px;
        z-index: 30;
    }
}
@media (min-width: 48em) {
    .nav-menu-items {
        display: block !important;
        text-align: right
    }
}
@media (min-width: 64em) {
    .nav-menu-items {
        /*text-align: center*/
    }
}
@media (max-width: 47.975em) {
    .nav-item {
        display: block;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    }
}
@media (min-width: 48em) {
    .nav-item {
        display: inline-block;
        margin: 0 10px
    }
}
@media (min-width: 64em) {
    .nav-item {
        margin: 0 15px
    }
}
.nav-item a {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    text-decoration: none
}
@media (max-width: 47.975em) {
    .nav-item a {
        display: block;
        color: #626973;
        line-height: 60px
    }
}
@media (min-width: 48em) {
    .nav-item a {
        color: #626973;
        display: inline-block;
        line-height: 50px
    }
    .nav-item a:hover {
        color: #00c7d9
    }
}
@media (max-width: 47.975em) {
    .nav-item a.nav-active {
        background-color: #0098a6;
        color: #fff
    }
}
@media (min-width: 48em) {
    .nav-item a.nav-active {
        color: #00c7d9
    }
}



@media (min-width: 48em) {
    .nav-item a.nav-btn {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border: 2px solid #00c7d9;
        color: #00c7d9;
        padding: 0 20px
    }
    .nav-item a.nav-btn:hover {
        color: #fff;
        background-color: #00c7d9
    }
}
@media (min-width: 48em) {
    .nav--transparent {
        background-color: transparent;
        border-color: transparent;
        margin-top: 15px
    }
    .nav--transparent .nav-logo-image {
        background-image: url("../../../../images/flipp/coupons/flipp-logo-white%402x.png")
    }
    .nav--transparent .nav-item a {
        color: #fff
    }
    .nav--transparent .nav-item a:hover {
        -webkit-opacity: 0.6;
        -moz-opacity: 0.6;
        opacity: 0.6
    }
    .nav--transparent .nav-item a.nav-btn {
        border-color: #fff;
        color: #fff
    }
    .nav--transparent .nav-item a.nav-btn:hover {
        background-color: transparent;
        color: #fff
    }
    .nav--transparent .nav-social-icons a {
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        color: #fff
    }
    .nav--transparent .nav-social-icons a:hover {
        -webkit-opacity: 0.6;
        -moz-opacity: 0.6;
        opacity: 0.6
    }
    .nav--transparent .nav-social-icons a:hover.facebook,
    .nav--transparent .nav-social-icons a:hover.twitter,
    .nav--transparent .nav-social-icons a:hover.youtube {
        color: #fff
    }
}
.footer {
    text-align: center
}
@media (min-width: 64em) {
    .footer {
        text-align: left
    }
}
.footer .flipp-logo,
.footer .flipp-links,
.footer .corp-links,
.footer .job-openings,
.footer .social-links {
    margin-top: 2em;
    float: left;
    min-height: 1px;
    width: 100%
}
@media (max-width: 47.975em) {
    .footer .flipp-logo,
    .footer .flipp-links,
    .footer .corp-links,
    .footer .job-openings,
    .footer .social-links {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) {
    .footer .flipp-logo,
    .footer .flipp-links,
    .footer .corp-links,
    .footer .job-openings,
    .footer .social-links {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) {
    .footer .flipp-logo,
    .footer .flipp-links,
    .footer .corp-links,
    .footer .job-openings,
    .footer .social-links {
        padding: 0 1.25em
    }
}
@media (min-width: 48em) {
    .footer .flipp-logo,
    .footer .flipp-links,
    .footer .corp-links,
    .footer .job-openings,
    .footer .social-links {
        float: left;
        min-height: 1px;
        width: 25%
    }
}
@media (min-width: 48em) and (max-width: 47.975em) {
    .footer .flipp-logo,
    .footer .flipp-links,
    .footer .corp-links,
    .footer .job-openings,
    .footer .social-links {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) and (min-width: 48em) {
    .footer .flipp-logo,
    .footer .flipp-links,
    .footer .corp-links,
    .footer .job-openings,
    .footer .social-links {
        padding: 0 0.9375em
    }
}
@media (min-width: 48em) and (min-width: 64em) {
    .footer .flipp-logo,
    .footer .flipp-links,
    .footer .corp-links,
    .footer .job-openings,
    .footer .social-links {
        padding: 0 1.25em
    }
}
@media (min-width: 64em) {
    .footer .flipp-logo,
    .footer .flipp-links,
    .footer .corp-links,
    .footer .job-openings,
    .footer .social-links {
        float: left;
        min-height: 1px;
        width: 20%;
        margin-top: 0
    }
}
@media (min-width: 64em) and (max-width: 47.975em) {
    .footer .flipp-logo,
    .footer .flipp-links,
    .footer .corp-links,
    .footer .job-openings,
    .footer .social-links {
        padding: 0 0.625em
    }
}
@media (min-width: 64em) and (min-width: 48em) {
    .footer .flipp-logo,
    .footer .flipp-links,
    .footer .corp-links,
    .footer .job-openings,
    .footer .social-links {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) and (min-width: 64em) {
    .footer .flipp-logo,
    .footer .flipp-links,
    .footer .corp-links,
    .footer .job-openings,
    .footer .social-links {
        padding: 0 1.25em
    }
}
.footer .flipp-logo {
    display: none
}
@media (min-width: 64em) {
    .footer .flipp-logo {
        display: block
    }
}
.footer .flipp-links li a,
.footer .corp-links li a {
    text-decoration: none;
    color: #626973
}
.footer .flipp-links li a:hover,
.footer .corp-links li a:hover {
    color: #00c7d9
}
.footer .social-links li {
    display: inline-block
}
.footer .social-links li a {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    border: 2px solid;
    color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    font-family: "Font Awesome";
    font-size: 1.25em;
    height: 40px;
    line-height: 38px;
    margin-left: 0.5em;
    text-align: center;
    text-decoration: none;
    width: 40px
}
.footer .social-links li a.facebook {
    margin-left: 0
}
.footer .social-links li a.facebook:before {
    content: "\f09a"
}
.footer .social-links li a.facebook:hover {
    color: #3b5998
}
.footer .social-links li a.twitter:before {
    content: "\f099"
}
.footer .social-links li a.twitter:hover {
    color: #00aced
}
.footer .social-links li a.youtube:before {
    content: "\f16a"
}
.footer .social-links li a.youtube:hover {
    color: #b00
}
.section {
    position: relative;
    overflow: hidden
}
.section.section--grey {
    background-color: #f2f4f7
}
.section.section--blue {
    background-color: #00c7d9
}
.section.section--blue h1,
.section.section--blue h2,
.section.section--blue h3,
.section.section--blue h4,
.section.section--blue h5,
.section.section--blue h6,
.section.section--blue p,
.section.section--blue blockquote,
.section.section--blue li {
    color: #fff
}
@media (max-width: 47.975em) {
    .padded,
    .padded-xl {
        padding-top: 2.5em;
        padding-right: 0.625em;
        padding-bottom: 2.5em;
        padding-left: 0.625em
    }
}
@media (min-width: 48em) {
    .padded,
    .padded-xl {
        padding-top: 3.75em;
        padding-right: 1.875em;
        padding-bottom: 3.75em;
        padding-left: 1.875em
    }
}
@media (min-width: 64em) {
    .padded,
    .padded-xl {
        padding-top: 5em;
        padding-right: 2.5em;
        padding-bottom: 5em;
        padding-left: 2.5em
    }
}
@media (min-width: 64em) {
    .padded-xl {
        padding-top: 7.5em;
        padding-right: 2.5em;
        padding-bottom: 7.5em;
        padding-left: 2.5em
    }
}
@media (max-width: 47.975em) {
    .padded-top {
        padding-top: 2.5em
    }
}
@media (min-width: 48em) {
    .padded-top {
        padding-top: 3.75em
    }
}
@media (min-width: 64em) {
    .padded-top {
        padding-top: 5em
    }
}
@media (max-width: 47.975em) {
    .padded-sides {
        padding-right: 0.625em;
        padding-left: 0.625em
    }
}
@media (min-width: 48em) {
    .padded-sides {
        padding-right: 1.875em;
        padding-left: 1.875em
    }
}
@media (min-width: 64em) {
    .padded-sides {
        padding-right: 2.5em;
        padding-left: 2.5em
    }
}
.hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../../images/flipp/coupons/blue-bg.jpg);
    background-color: #f2f4f7;
    overflow: hidden;
    text-align: center;
}
.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero h6,
.hero p,
.hero blockquote,
.hero li {
    color: #fff
}

@media (max-width: 47.975em) {
    .hero {
        padding-top: 2.5em;
        height: 500px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #f2f4f7;
        overflow: hidden;
        text-align: center;
        /*margin-top: 60px;*/
    }
}


@media (min-width: 48em) {
    .hero {
        height: 500px;
        text-align: left;
        /*margin-top: 85px;
*/    }
}
@media (min-width: 64em) {
    .hero {
        height: 550px;
        /*margin-top: 85px;*/
    }
}
.hero .container {
    height: 100%
}
@media (max-width: 47.975em) {
    .hero .copy {
        float: left;
        min-height: 1px;
        width: 100%
    }
}
@media (max-width: 47.975em) and (max-width: 47.975em) {
    .hero .copy {
        padding: 0 0.625em
    }
}
@media (max-width: 47.975em) and (min-width: 48em) {
    .hero .copy {
        padding: 0 0.9375em
    }
}
@media (max-width: 47.975em) and (min-width: 64em) {
    .hero .copy {
        padding: 0 1.25em
    }
}
@media (min-width: 48em) {
    .hero .copy {
        float: right;
        min-height: 1px;
        width: 50%
    }
}
@media (min-width: 48em) and (max-width: 47.975em) {
    .hero .copy {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) and (min-width: 48em) {
    .hero .copy {
        padding: 0 0.9375em
    }
}
@media (min-width: 48em) and (min-width: 64em) {
    .hero .copy {
        padding: 0 1.25em
    }
}
@media (min-width: 64em) {
    .hero .copy {
        float: right;
        min-height: 1px;
        width: 35%;
        margin-right: 170px;
    }
}
@media (min-width: 64em) and (max-width: 47.975em) {
    .hero .copy {
        padding: 0 0.625em
    }
}
@media (min-width: 64em) and (min-width: 48em) {
    .hero .copy {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) and (min-width: 64em) {
    .hero .copy {
        padding: 0 1.25em
    }
}
@media (min-width: 48em) {
    .hero .copy .copy-inner {
        margin-top: 110px
    }
}
@media (min-width: 64em) {
    .hero .copy .copy-inner {
        margin-top: 120px;
        margin-right: -60px
    }
}
.hero h1,
.hero h3 {
/*    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
    -webkit-text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5)*/
}
.hero h3 {
    font-weight: 200
}
.hero .image {
    display: block;
    text-align: center;
    height: 400px;
    margin-top: 1em
}

@media (min-width: 64em) {
    .hero .image {
        display: block;
        position: absolute;
        right: 0;
        margin-right: 0;
        bottom: 65px;
        text-align: right;
        text-align: center;
        width: 800px;
        left: -80px;
    }
}


@media (max-width: 47.975em) {
    .hero .image {
        display: block;
        text-align: center;
        height: 400px;
        margin-top: 1em;
        width: 300px;
        margin: auto;
        margin-top: 180px;
    }
    .hero .device {
        margin-left: 30px;
        margin-top: 50px;
    }
}

@media (min-width: 48em) and (max-width: 63.9em) {
    .hero .image {
        display: block;
        position: absolute;
        right: 0;
        margin-right: 0;
        bottom: 75px;
        text-align: right;
        text-align: center;
        width: 500px;
        left: -5%;
    }
}
.about .copy {
    float: left;
    min-height: 1px;
    width: 100%;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
@media (max-width: 47.975em) {
    .about .copy {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) {
    .about .copy {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) {
    .about .copy {
        padding: 0 1.25em
    }
}
.about .copy p {
    max-width: 28em;
    margin-left: auto;
    margin-right: auto
}
.about .image {
    position: relative;
    margin: 0 -100px;
    max-width: 68.75em;
    overflow: hidden
}
@media (min-width: 64em) {
    .about .image {
        max-width: none
    }
}
.about .image img {
    display: block;
    margin: 0 auto
}
.retailers .copy,
.retailers .num-retailers {
    float: left;
    min-height: 1px;
    width: 100%;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
@media (max-width: 47.975em) {
    .retailers .copy,
    .retailers .num-retailers {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) {
    .retailers .copy,
    .retailers .num-retailers {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) {
    .retailers .copy,
    .retailers .num-retailers {
        padding: 0 1.25em
    }
}
@media (min-width: 64em) {
    .retailers .copy,
    .retailers .num-retailers {
        float: left;
        min-height: 1px;
        width: 60%
    }
}
@media (min-width: 64em) and (max-width: 47.975em) {
    .retailers .copy,
    .retailers .num-retailers {
        padding: 0 0.625em
    }
}
@media (min-width: 64em) and (min-width: 48em) {
    .retailers .copy,
    .retailers .num-retailers {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) and (min-width: 64em) {
    .retailers .copy,
    .retailers .num-retailers {
        padding: 0 1.25em
    }
}
.retailers .copy p {
    max-width: 32em;
    margin-left: auto;
    margin-right: auto
}
.retailers .num-retailers {
    margin-top: 2em
}
@media (min-width: 48em) {
    .retailers .num-retailers {
        margin-top: 3.125em
    }
}
.retailers .num-retailers .num,
.retailers .num-retailers .callout {
    display: inline-block;
    vertical-align: middle
}
.retailers .num-retailers .num {
    font-size: 2.5em;
    font-weight: 800;
    color: #00c7d9
}
@media (min-width: 48em) {
    .retailers .num-retailers .num {
        font-size: 4.375em
    }
}
.retailers .num-retailers .callout {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    font-size: 1em;
    padding: 0.625em 1.25em;
    color: #212c33;
    line-height: 1.4;
    margin-left: 1em
}
@media (min-width: 48em) {
    .retailers .num-retailers .callout {
        font-size: 1.25em
    }
}
.coupons,
.clippings {
    text-align: center
}
@media (min-width: 64em) {
    .coupons,
    .clippings {
        text-align: left
    }
}
.coupons .copy,
.clippings .copy {
    float: left;
    min-height: 1px;
    width: 100%
}
@media (max-width: 47.975em) {
    .coupons .copy,
    .clippings .copy {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) {
    .coupons .copy,
    .clippings .copy {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) {
    .coupons .copy,
    .clippings .copy {
        padding: 0 1.25em
    }
}
@media (min-width: 64em) {
    .coupons .copy,
    .clippings .copy {
        float: left;
        min-height: 1px;
        width: 40%
    }
}
@media (min-width: 64em) and (max-width: 47.975em) {
    .coupons .copy,
    .clippings .copy {
        padding: 0 0.625em
    }
}
@media (min-width: 64em) and (min-width: 48em) {
    .coupons .copy,
    .clippings .copy {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) and (min-width: 64em) {
    .coupons .copy,
    .clippings .copy {
        padding: 0 1.25em
    }
}




.coupons .copy p,
.clippings .copy p {
    max-width: 30em;
    margin-left: auto;
    margin-right: auto
}
.coupons .image,
.clippings .image {
    float: left;
    min-height: 1px;
    width: 100%
}
@media (max-width: 47.975em) {
    .coupons .image,
    .clippings .image {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) {
    .coupons .image,
    .clippings .image {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) {
    .coupons .image,
    .clippings .image {
        padding: 0 1.25em
    }
}
@media (min-width: 48em) {
    .coupons .image,
    .clippings .image {
        margin-top: 1em
    }
}
@media (min-width: 64em) {
    .coupons .image,
    .clippings .image {
        float: left;
        min-height: 1px;
        width: 60%;
        margin-top: 0
    }
}
@media (min-width: 64em) and (max-width: 47.975em) {
    .coupons .image,
    .clippings .image {
        padding: 0 0.625em
    }
}
@media (min-width: 64em) and (min-width: 48em) {
    .coupons .image,
    .clippings .image {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) and (min-width: 64em) {
    .coupons .image,
    .clippings .image {
        padding: 0 1.25em
    }
}
@media (min-width: 64em) {
    .coupons .copy {
        float: right;
        margin-top: 2em
    }
}
.video {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../../images/flipp/coupons/bg-video.jpg)
}
.video .copy {
    float: left;
    min-height: 1px;
    width: 100%;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
@media (max-width: 47.975em) {
    .video .copy {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) {
    .video .copy {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) {
    .video .copy {
        padding: 0 1.25em
    }
}
.video .copy h2 {
    max-width: 18em;
    margin-left: auto;
    margin-right: auto
}
.video .copy p {
    max-width: 20em;
    margin-left: auto;
    margin-right: auto
}
.features {
    text-align: center
}
.features .copy h2 {
    margin-bottom: 1em
}
.features .feature-list {
    float: left;
    min-height: 1px;
    width: 100%
}
@media (max-width: 47.975em) {
    .features .feature-list {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) {
    .features .feature-list {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) {
    .features .feature-list {
        padding: 0 1.25em
    }
}
@media (min-width: 48em) {
    .features .feature-list {
        float: left;
        min-height: 1px;
        width: 50%
    }
}
@media (min-width: 48em) and (max-width: 47.975em) {
    .features .feature-list {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) and (min-width: 48em) {
    .features .feature-list {
        padding: 0 0.9375em
    }
}
@media (min-width: 48em) and (min-width: 64em) {
    .features .feature-list {
        padding: 0 1.25em
    }
}
@media (min-width: 64em) {
    .features .feature-list {
        float: left;
        min-height: 1px;
        width: 33.33333%
    }
}
@media (min-width: 64em) and (max-width: 47.975em) {
    .features .feature-list {
        padding: 0 0.625em
    }
}
@media (min-width: 64em) and (min-width: 48em) {
    .features .feature-list {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) and (min-width: 64em) {
    .features .feature-list {
        padding: 0 1.25em
    }
}
.features .feature-device {
    display: none
}
@media (min-width: 64em) {
    .features .feature-device {
        float: left;
        min-height: 1px;
        width: 33.33333%;
        display: block
    }
}
@media (min-width: 64em) and (max-width: 47.975em) {
    .features .feature-device {
        padding: 0 0.625em
    }
}
@media (min-width: 64em) and (min-width: 48em) {
    .features .feature-device {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) and (min-width: 64em) {
    .features .feature-device {
        padding: 0 1.25em
    }
}
.testimonials .copy {
    float: left;
    min-height: 1px;
    width: 100%;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
@media (max-width: 47.975em) {
    .testimonials .copy {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) {
    .testimonials .copy {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) {
    .testimonials .copy {
        padding: 0 1.25em
    }
}
@media (min-width: 64em) {
    .testimonials .copy {
        float: left;
        min-height: 1px;
        width: 66.66667%
    }
}
@media (min-width: 64em) and (max-width: 47.975em) {
    .testimonials .copy {
        padding: 0 0.625em
    }
}
@media (min-width: 64em) and (min-width: 48em) {
    .testimonials .copy {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) and (min-width: 64em) {
    .testimonials .copy {
        padding: 0 1.25em
    }
}
@media (min-width: 64em) {
    .testimonials .copy h2 {
        margin-bottom: 1em
    }
}
.media .copy {
    float: left;
    min-height: 1px;
    width: 100%;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
@media (max-width: 47.975em) {
    .media .copy {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) {
    .media .copy {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) {
    .media .copy {
        padding: 0 1.25em
    }
}
@media (min-width: 64em) {
    .media .copy {
        float: left;
        min-height: 1px;
        width: 66.66667%
    }
}
@media (min-width: 64em) and (max-width: 47.975em) {
    .media .copy {
        padding: 0 0.625em
    }
}
@media (min-width: 64em) and (min-width: 48em) {
    .media .copy {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) and (min-width: 64em) {
    .media .copy {
        padding: 0 1.25em
    }
}
.download {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../../images/flipp/coupons/bg-store.jpg)
}
.download .copy {
    float: left;
    min-height: 1px;
    width: 100%;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}
@media (max-width: 47.975em) {
    .download .copy {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) {
    .download .copy {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) {
    .download .copy {
        padding: 0 1.25em
    }
}
.download .copy h2 {
    max-width: 18em;
    margin-left: auto;
    margin-right: auto
}
.download .copy p {
    max-width: 20em;
    margin-left: auto;
    margin-right: auto
}
.carousel {
    position: relative
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}
.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: .6s ease-in-out left;
    -o-transition: .6s ease-in-out left;
    transition: .6s ease-in-out left
}
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    line-height: 1
}
.carousel-inner>.active,
.carousel-inner>.next,
.carousel-inner>.prev {
    display: block
}
.carousel-inner>.active {
    left: 0
}
.carousel-inner>.next,
.carousel-inner>.prev {
    position: absolute;
    top: 0;
    width: 100%
}
.carousel-inner>.next {
    left: 100%
}
.carousel-inner>.prev {
    left: -100%
}
.carousel-inner>.next.left,
.carousel-inner>.prev.right {
    left: 0
}
.carousel-inner>.active.left {
    left: -100%
}
.carousel-inner>.active.right {
    left: 100%
}
html,
body {
    height: 100%
}
@media (max-width: 47.975em) {
    body {
        /*padding-top: 60px*/
    }
}
img {
    max-width: 100%;
    height: auto
}
a img {
    cursor: pointer
}
.card-grid .card {
    float: left;
    min-height: 1px;
    width: 100%;
    padding: 0.625em !important
}
@media (max-width: 47.975em) {
    .card-grid .card {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) {
    .card-grid .card {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) {
    .card-grid .card {
        padding: 0 1.25em
    }
}
@media (min-width: 48em) {
    .card-grid .card {
        float: left;
        min-height: 1px;
        width: 50%;
        padding: 0.9375em !important
    }
}
@media (min-width: 48em) and (max-width: 47.975em) {
    .card-grid .card {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) and (min-width: 48em) {
    .card-grid .card {
        padding: 0 0.9375em
    }
}
@media (min-width: 48em) and (min-width: 64em) {
    .card-grid .card {
        padding: 0 1.25em
    }
}
@media (min-width: 64em) {
    .card-grid .card {
        float: left;
        min-height: 1px;
        width: 33.33333%;
        padding: 1.25em !important
    }
}
@media (min-width: 64em) and (max-width: 47.975em) {
    .card-grid .card {
        padding: 0 0.625em
    }
}
@media (min-width: 64em) and (min-width: 48em) {
    .card-grid .card {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) and (min-width: 64em) {
    .card-grid .card {
        padding: 0 1.25em
    }
}
.card-grid .card-hero {
    float: left;
    min-height: 1px;
    width: 100%
}
@media (max-width: 47.975em) {
    .card-grid .card-hero {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) {
    .card-grid .card-hero {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) {
    .card-grid .card-hero {
        padding: 0 1.25em
    }
}
.card-grid .card-hero blockquote {
    margin-bottom: 1em
}
@media (min-width: 64em) {
    .card-grid .card-hero blockquote {
        font-size: 1.25em;
        margin: 1em auto 1.5em auto;
        width: 60%
    }
}
.card-grid .card-wrapper {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    display: table;
    width: 100%
}
.card-grid .card-wrapper:after {
    content: "";
    display: table;
    clear: both
}
@media (min-width: 48em) {
    .card-grid .card-wrapper {
        padding: 25px;
        height: 260px
    }
}
@media (min-width: 64em) {
    .card-grid .card-wrapper {
        padding: 30px;
        height: 310px
    }
}
.card-grid .card-content {
    display: table-cell;
    vertical-align: middle
}
.card-grid .card-content img {
    margin-bottom: 10px
}
.logo-grid .logo {
    text-align: center;
    float: left;
    min-height: 1px;
    width: 33.33333%;
    padding: 10px !important;
    height: 120px;
    line-height: 120px;
    vertical-align: middle
}
@media (max-width: 47.975em) {
    .logo-grid .logo {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) {
    .logo-grid .logo {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) {
    .logo-grid .logo {
        padding: 0 1.25em
    }
}
@media (min-width: 48em) {
    .logo-grid .logo {
        float: left;
        min-height: 1px;
        width: 25%;
        padding: 15px !important
    }
}
@media (min-width: 48em) and (max-width: 47.975em) {
    .logo-grid .logo {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) and (min-width: 48em) {
    .logo-grid .logo {
        padding: 0 0.9375em
    }
}
@media (min-width: 48em) and (min-width: 64em) {
    .logo-grid .logo {
        padding: 0 1.25em
    }
}
@media (min-width: 64em) {
    .logo-grid .logo {
        float: left;
        min-height: 1px;
        width: 16.66667%;
        padding: 20px !important
    }
}
@media (min-width: 64em) and (max-width: 47.975em) {
    .logo-grid .logo {
        padding: 0 0.625em
    }
}
@media (min-width: 64em) and (min-width: 48em) {
    .logo-grid .logo {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) and (min-width: 64em) {
    .logo-grid .logo {
        padding: 0 1.25em
    }
}
.logo-grid .logo img {
    vertical-align: middle
}
@media (max-width: 47.975em) {
    .logo-grid .logo img {
        max-width: 75%
    }
}
.feat-list,
.feat-image {
    float: left;
    min-height: 1px;
    width: 100%
}
@media (max-width: 47.975em) {
    .feat-list,
    .feat-image {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) {
    .feat-list,
    .feat-image {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) {
    .feat-list,
    .feat-image {
        padding: 0 1.25em
    }
}
@media (min-width: 48em) {
    .feat-list,
    .feat-image {
        float: left;
        min-height: 1px;
        width: 50%
    }
}
@media (min-width: 48em) and (max-width: 47.975em) {
    .feat-list,
    .feat-image {
        padding: 0 0.625em
    }
}
@media (min-width: 48em) and (min-width: 48em) {
    .feat-list,
    .feat-image {
        padding: 0 0.9375em
    }
}
@media (min-width: 48em) and (min-width: 64em) {
    .feat-list,
    .feat-image {
        padding: 0 1.25em
    }
}
@media (min-width: 64em) {
    .feat-list,
    .feat-image {
        float: left;
        min-height: 1px;
        width: 33.33333%
    }
}
@media (min-width: 64em) and (max-width: 47.975em) {
    .feat-list,
    .feat-image {
        padding: 0 0.625em
    }
}
@media (min-width: 64em) and (min-width: 48em) {
    .feat-list,
    .feat-image {
        padding: 0 0.9375em
    }
}
@media (min-width: 64em) and (min-width: 64em) {
    .feat-list,
    .feat-image {
        padding: 0 1.25em
    }
}
@media (min-width: 64em) {
    .feat-list {
        padding-top: 6em
    }
}
.feat-image {
    display: none;
    position: relative
}
@media (min-width: 64em) {
    .feat-image {
        display: block
    }
}
.feat-list-item {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    cursor: pointer;
    margin-top: 1em;
    text-align: left
}
.feat-list-item:after {
    content: "";
    display: table;
    clear: both
}
.feat-list-item h3 {
    margin-bottom: 0.25em
}
@media (min-width: 64em) {
    .feat-list-item {
        -webkit-opacity: 0.4;
        -moz-opacity: 0.4;
        opacity: 0.4
    }
    .feat-list-item:hover {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1
    }
}
.feat-list-item.active {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}
.feat-list-item.active .feat-list-icon {
    background-color: #00c7d9
}
.feat-list-icon {
    float: left;
    height: 52px;
    width: 52px;
    margin-top: 1.5em;
    margin-right: 1em;
    margin-bottom: 1.5em;
    background-color: #00c7d9
}
@media (min-width: 64em) {
    .feat-list-icon {
        background-color: #212c33
    }
}
.feat-screens {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 26%;
    padding-left: 17.5%;
    padding-right: 17.5%;
    width: 100%;
}
.feat-screens img {
    width: auto
}
_:-ms-lang(x),
.feat-screens {
    padding-top: 25.8%;
    padding-left: 17.25%;
    padding-right: 17.25%
}
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .feat-screens {
        padding-top: 25.8%;
        padding-left: 17.25%;
        padding-right: 17.25%
    }
}
@-moz-document url-prefix() {
    .feat-screens {
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 26%;
        padding-left: 17.5%;
        padding-right: 17.5%;
        width: 100%
    }
}


.superbutton {
    background: #16697b;
    padding: 15px 20px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #FFF !important;
    text-decoration: none !important;
}


.mobile-dl {
    background: #eceef1;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.holiday-banner {
    background: #293a4b;
    height: 90px;
    width: 100%;
    margin: auto;
    margin-top: 85px;
    color: #FFF;
    padding: 12px 0;
    font-family: 'LatoLight';
}

.holiday-banner .container {
    width: 700px;
}

.holiday-banner-img {
    width: 120px;
    float: left;
    margin-right: 50px;
}

.holiday-banner-img img {
    width: 100%;
}

.holiday-banner-text {
    float: left;
    padding-top: 10px;
    font-size: 16px;
    line-height: 22px;
}

.holiday-banner-text b {
    font-family: 'Lato';
    color: #00c6d7;
}

.hol-mob {
    display: none;
}

.appstore-best {
    width: 150px;
    margin-top: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
    .holiday-banner {
        margin-top: 0;
    }
    .holiday-banner .container {
        width: 700px;
    }
    .holiday-banner-img {
        width: 100px;
        margin-right: 20px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .holiday-banner {
        margin-top: 0;
        height: auto;
        padding-bottom: 30px;
    }
    .holiday-banner .container {
        width: 100%;
    }
    .holiday-banner-img {
        display: none;
    }
    .holiday-banner-text {
        text-align: center;
        margin: auto;
        display: inline-block;
        width: 90%;
        margin-left: 5%;
        font-size: 14px;
    }
    .hol-desktop {
        display: none;
    }
    .hol-mob {
        display: inline;
    }
    .appstore-best {
        width: 200px;
        margin-top: 30px;
    }

}

.gold {
    color: #FFCE09;
    font-weight: bold;
}
.slcallout {
    background: #00c6d7;
    height: 55px;
    text-align: center;
    padding: 15px 0;
    color: #FFF;
    margin-top: 85px;
    font-size: 18px;
}
@media (max-width: 47.975em) {
    .slcallout {
        margin-top: 60px;
        height: auto;
        padding: 15px;
        font-size: 15px;
    }
}
